* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}

header {
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin: 0 10px;
}

header ul li a {
  text-decoration: none;
  color: #464646;
  text-transform: uppercase;
}

header ul li a.active {
  color: #3183fc;
}

#jumbotron {
  background-image: url("/storage/assets/jumbotron.jpg");
  height: 400px;
  background-size: cover;
}

#cards {
  background-color: #1c1c1c;
  padding-bottom: 20px;
  margin-top: 50px;
}

#cards h2 {
  color: white;
  background-color: #3183fc;
  padding: 10px 30px;
  transform: translate(0, -50%);
  display: inline-block;
}

#cards .cards_container {
  display: flex;
  flex-wrap: wrap;
}

#cards h5 {
  text-align: center;
}

#cards h5 a {
  padding: 10px 30px;
  background-color: #3183fc;
  color: white;
  text-decoration: none;
  display: inline-block;
}

#cards .card {
  width: 16.6666666667%;
  padding: 20px;
}

#cards .card img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#cards .card h4 {
  margin: 10px 0;
  color: white;
}

footer {
  background-image: url("/storage/assets/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container .footer_lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px 0;
}

footer .container img {
  width: 45%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer section {
  background-color: #303030;
}

footer section .container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer section .container .sign-up {
  display: inline-block;
  border: 2px solid #3183fc;
  color: white;
  padding: 15px;
  text-decoration: none;
}

footer section .container ul {
  list-style: none;
  display: flex;
}

