#cards {
    background-color: #1c1c1c;
    padding-bottom: 20px;
    // debug
    margin-top: 50px;

    h2 {
        color: white;
        background-color: #3183fc;
        padding: 10px 30px;
        transform: translate(0, -50%);
        display: inline-block;
    }

    .cards_container {
        display: flex;
        flex-wrap: wrap;
    }

    h5 {
        text-align: center;

        a {
            padding: 10px 30px;
            background-color: #3183fc;
            color: white;
            text-decoration: none;
            display: inline-block;
        }
    }
}